:root{
    --1: #2B2A2A;
    --2: #1C1C1C;
    --3: #FEFCFB;
    --4: #7A7A7A;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: var(--1);
    color: var(--3);
    margin: 0;
}

/* nav */
nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
} 
nav p a{
    text-decoration: none;
    color: var(--3);
    margin-left: 1rem;
}
nav p a:hover{
    color: var(--4);
}
nav ul li{
    display: inline;
    margin: 2rem;
}
nav ul li a{
    text-decoration: none;
    color: var(--3);
}
nav ul li a:hover{
    color: var(--4);
    transition: all 0.5s ease;
}
nav ul li .info{
    display: inline-block;
    color: var(--3); 
    border: 1px solid var(--2); 
    border-radius: 50%; 
    padding: 0.5rem; 
    width: 1rem; 
    text-align: center;
    transition: all 0.5s;
}
nav ul li .info:hover{
    color: var(--1);
    background-color: var(--4);
}

/* hero-section */
.hero-section{
    display: flex;
    justify-content: space-between;
    background-color: var(--2);
    border-radius: 2rem;
    max-width: 96%;
    margin: auto;
}
.hero-content{
    padding: 1rem 5%;
}
.hero-content h1{
    font-size: 5rem;
}
.hero-content p{
    color: var(--4);
    margin-bottom: 3rem;
}
.hero-content a button{
    color: var(--4);
}
.hero-content a button:hover{
    color: var(--3);
    background-color: var(--1);
    transition: all 0.5s;
}
.hero-image{
    padding: 1rem 10%;
    align-self:flex-end;
    text-align: center;
}

/* projects */
.projects-section{
    background-color: var(--2);
    border-radius: 2rem;
    max-width: 96%;
    margin: auto;
    text-align: center;
}
.projects-section h1{
    text-align: center;
    padding: 1rem;
}
.projects-section .projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%,1fr));
    gap: 2rem;
    text-align: center;
    margin: 0.5rem 2rem;
}
.projects-section .projects .project{
    border: 1px solid var(--4);
    border-radius: 1rem;
    
}
.projects-section .projects .project:hover{
    transform: translateY(-0.3rem);
    transition: all 0.5s;
    /* transform:scaleY(1.1); */
    background-color: var(--1);
}
.projects-section .projects .project a{
    text-decoration: none;
    color: var(--3);
    font-size: larger;
}
.projects-section .projects .project img{
    object-fit: cover;
    width: 100%;
    filter: saturate(0.3);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 10rem;
}
.projects-section button{
    margin: 2rem 0; 
    color: var(--4);
}
.projects-section button:hover{
    color: var(--3);
    background-color: var(--1);
    transition: all 0.5s;
}

/* blogs */
.blogs-section{
    background-color: var(--2);
    border-radius: 2rem;
    max-width: 96%;
    margin: auto;
    text-align: center;
}
.blogs-section h1{
    padding: 1rem;
}
.blogs-section .blogs{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%,1fr));
    gap: 10%;
    text-align: center;
    margin: 0.5rem 5rem;
}
.blogs-section .blogs .blog{
    border: 1px solid var(--4);
    border-radius: 1rem;
}
.blogs-section .blogs .blog:hover{
    transform: translateY(-0.3rem);
    transition: all 0.5s;
    background-color: var(--1);
}
.blogs-section .blogs .blog a{
    text-decoration: none;
    color: var(--3);
    font-size: larger;
}
.blogs-section .blogs .blog img{
    object-fit: cover;
    width: 100%;
    filter: saturate(0.3);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    height: 15rem;
}
.blogs-section button{
    margin: 2rem;
    color: var(--4);
}
.blogs-section button:hover{
    color: var(--3);
    background-color: var(--1);
    transition: all 0.5s;
}

/* footer */
footer{
    position: absolute;
    width: 100%;
    background-color: var(--2);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    text-align: center;
}
footer ul{
    margin: 2rem;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
}


/* extra */
.link{
    font-size: large;
    cursor: pointer;
    background-color: var(--2);
    padding: 0.8rem 10%;
    border: 1px solid var(--3);
    color: var(--3);
    border-radius: 1rem;
    margin-bottom: 1rem;
}
.sidebar{
    display: none;
    position: absolute;
    top: 2%;
    right: 2%;
    width: 25px;
    height: 20px;
}
.sidebar:hover{
    cursor: pointer;
}
.sidebar-cross{
    display: none;
    position: absolute;
    top: 1%;
    right: 1%;
    width: 32px;
    height: 32px;
}
.sidebar-cross:hover{
    cursor: pointer;
}
.active{
    color: var(--4);
    text-decoration: overline;
}

@media screen and (max-width:630px) {
    /* nav */
    nav ul{
        position: absolute;
        top: 1.5rem;
        right: 1%;
        background-color: var(--2);
        border-radius: 1rem;
        display: none;
    }
    nav ul li{
        display: block;
    }

    /* nav */
    .hero-image{
        padding: 0;
    }
    .hero-image img{
        height: 200px;
    }

    /* extra */
    .sidebar{
        display: block;
    }
}

@media screen and (max-width:500px) {
    /* hero */
    .hero-content h1{
        font-size: 3rem;
    }

    /* project-section */
    .projects-section .projects{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%,1fr));
        gap: 2rem;
        text-align: center;
        margin: 0.5rem 2rem;
    }

    /* blog-section */
    .blogs-section .blogs{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(50%,1fr));
        gap: 2rem;
        text-align: center;
        margin: 0.5rem 2rem;
    }
}

@media screen and (max-width:300px){
    .hero-image img{
        height: 10rem;
    }
}